body{
    margin: 0;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color:salmon;
    font-family:'Courier New', Courier, monospace;
}

.container{
background-color: rgba(192,192,192,0.6);
padding: 40px;
border-radius: 20px;
box-shadow:0 10px 10px rgba(0,0,0,0.9);
width: 80%;
text-align: center;
font-size: 18px;
font-weight: 500;
}

.heading{
font-size: 30px;
}
.input{
    height: 53px;
    width:50%;
    background-color:rgba(255,255,255,0.6);
    border-color: rgba(95.7,64.3,37.6,0.7);
    font-size: 20px;
    padding: 0 42px;
    border-radius: 5px;
}
.meaning-container{
    display: none;
}